body { 
    margin: 0;
    background-color: #2e2e2e;
}
footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
}
.end-footer {
    width:calc(100/5);
}